<nav class="navbar" style="background-color: #7C25EE">
  <a href="/categories"><i class="fas fa-arrow-left"></i></a>  
  <a class="float-right" >
    <i class="fas fa-plus"></i>
    <i class="fas fa-plus"></i>
  </a>
</nav>


<div class="afmenu">
  
</div>

