<% include ./partials/header %>

<div class="container">
    
    <h1>Welcome to your Affirmation!</h1>
    <a href="/categories" class="btn btn-lg btn-success">View All Affirmations</a>
    
</div>
<% include ./partials/footer %>
