<!-- Phrase List -->
<div class="container-fluid">
    <ul class="list-group">
    <% category.phrases.forEach(function(phrase){ %>
        <a class="aflist" href="/categories/<%= category._id %>/phrases/<%= phrase._id %>/edit">
            <li class="list-group-item">
                <%= phrase.affirmation %>
            </li>
        </a>
    <% }); %>
    </ul>
</div>   
