
<div class="container-fluid">
    <ul class="list-group">
    <% phrases.forEach(function(phrase){ %>
      <li class="list-group-item"><%= phrase.affirmation %></li>
    <% }); %>
    </ul>
 </div>   