
<!--Affirmation Card-->
<% phrases.forEach(function(phrase){ %>
    <ul>
        <li><%= phrase.affirmation %></li>
        <li><%= phrase.background %></li>
        <li><%= phrase.category %></li>
    </ul>
<% }); %>