<% include ../partials/header %>
<% include ../partials/menu %>

<div class="container">
    <h1 style="text-align:center; margin:25px;">Create a New Phrase</h1> 
    <div style="width:30%; margin:25px auto;">
        <form action="/phrases" method="POST">
            <div class="form-group">
                <label>Write your affirmation</label>
                <input class="form-control" type = "text" name = "phrase[affirmation]" placeholder = "I trust myself" required>
            </div>
            <div class="form-group">
                <label>Select a background image</label>
                <input class="form-control" type = "text" name = "phrase[background]" placeholder = "peaceful ocean" required>
            </div>
            <div class="form-group">
                <label>Select a category</label>
                <select class="form-control" name = "phrase[category]">
                    <!--Affirmation Card-->
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category.name %>"><%= category.name %></option>
                    <% }); %>
                </select>   
            </div>
            
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </div>
        </form>
        <a href="/phrase">Go Back</a>    
    </div>
</div>

<% include ../partials/footer %>