<% include ../partials/header %>
<% include ../partials/menu %>

<div class="container">
    <h2 style="text-align:center; margin:25px;">Create a New <%= category.name %> Affirmation</h2> 
    <div style="width:100%; margin:25px auto;">
        <form action="/categories/<%= category._id %>/phrases" method="POST">
            <div class="form-group">
                <label>Write your affirmation</label>
                <input class="form-control" type = "text" name = "phrase[affirmation]" placeholder = "I trust myself" required>
            </div>
            <div class="form-group">
                <label>Select a background image</label>
                <input class="form-control" type = "text" name = "phrase[background]" placeholder = "peaceful ocean" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </div>
        </form>
        <a href="/categories/<%= category._id %>">Go Back</a>    
    </div>
</div>

<% include ../partials/footer %>