<% include ../partials/header %>
<% include ../partials/menu %>

<div class="header">
    <h2>Find Your Affirmation</h2>
    <p class="mb-1">Quote of the day:</p>
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    <br>
</div>

<div class="container-fluid">
    <div class="row">
        <!--Affirmation Card-->
        <% categories.forEach(function(category) { %>
            <div class="col-6 col-lg-3">
                <div class="card text-center shadow-sm">
                    <a class="card-body" href="/categories/<%= category._id %>">
                        <i class="afbutton <%= category.icon %> fa-2x"></i>
                        <h5 class="card-title"><%= category.name %></h5>
                    </a>
                </div>
            </div>
        <% }); %>
        <div class="col-6 col-lg-3">
            <div class="card text-center shadow-sm">
                <a class="card-body" href="/categories/new" data-toggle="modal" data-target="#addCategoryForm">
                    <i class="fas fa-plus-square fa-2x"></i>
                    <h5 class="card-title">Add Category</h5>
                </a>
            </div>
        </div>
    </div>
    
     <!-- Add Category Button -->
    <% include ./new %>
    
    <!-- Add Phrase Button -->
    <!--<a href="/phrases/new" class="float">-->
    <!--    <i class="fa fa-plus my-float"></i>-->
    <!--</a>-->
    
</div>

<% include ../partials/footer %>
