<% include ../partials/header %>
<% include ./categoryMenu %>

<div class="header">
    <h1 class="display-4 text-center"><i class="<%= category.icon %>"></i> <%= category.name %></h1>
    <!--<button class="btn btn-info btn-sm float-right" href="/categories/new" data-toggle="modal" data-target="#exampleModalCenter">Edit Category</a>-->
</div>

<!--Show Phrase Lists-->
<% include ../phrases/index %>
  
<% include ../partials/footer %>
